@()
@import marieetraphael.utils._

@layouts.main("dday") {
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Le programme du jour&nbsp;J</h1>
			</div>
		</div>
		<div class="row vertical-align">
			<div class="hidden-xs col-sm-4 text-center">
				<img class="img-responsive center-block" src="@routes.Assets.versioned("images/ml.png")" />
			</div>
			<div class="col-xs-12 col-sm-8 text-left progam-desc">
				<ul class="program">
					<li>
						<span class="hour">13h45</span><span class="location">Maisons Laffitte</span><span class="action">Mariage à la mairie de Maisons Laffitte</span>
					</li>
				</ul>
			</div>
		</div>
		<hr />
		<div class="row vertical-align">
			<div class="hidden-xs col-sm-4 text-center">
				<img class="img-responsive center-block" src="@routes.Assets.versioned("images/ibis.png")" />
			</div>
			<div class="col-xs-12 col-sm-8 text-left progam-desc">
				<ul class="program">
					<li>
						<span class="hour">17h30</span><span class="location">Le Vesinet</span><span class="action">Photos de groupe</span>
					</li>
					<li>
						<span class="hour">18h00</span><span class="location">Le Vesinet</span><span class="action">Cérémonie d'intentions</span>
					</li>
					<li>
						<span class="hour">18h30</span><span class="location">Le Vesinet</span><span class="action">Cocktail</span>
					</li>
					<li>
						<span class="hour">20h00</span><span class="location">Le Vesinet</span><span class="action">Repas</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
}
