@()
@import marieetraphael.utils._

@layouts.main("gifts") {
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1>Liste de mariage</h1>
			</div>
		</div>	
		<div class="row">
			<div class="hidden-xs col-sm-3 text-center">
				<img class="img-responsive center-block" src="@routes.Assets.versioned("images/squirrel.png")" />
			</div>
			<div class="col-xs-12 col-sm-9 text-left">
				<p>C'est un sujet qui mérite réflexion ;-). <br /><br />Des projets en cours, mais pas encore concrétisés... <br /><br />On vous dit très vite.</p>
			</div>
		</div>
	</div>
}
