@(key: String, title: String = "")(content: Html)
@import tags._

<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@title</title>
        @local_stylesheet("stylesheets/main.css")
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
        
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        @local_script("javascripts/hello.js") { }
        
        @layouts.fragments.bootstrap_css()
    </head>
    <body id="@key">
    	@layouts.fragments.navbar()
    	
        @content
        
        @layouts.fragments.footer()
        
        <!-- Placed at the end of the document so the pages load faster -->
		@absolute_script("https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js") { }
		@local_script("javascripts/bootstrap/bootstrap.min.js") { }
        
        
    </body>
</html>
